body {
  color: #000000;
  font-family: "Roboto";
}

/* .pointer {
  cursor: pointer;
} */
.list {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

.a:focus {
  color: #4d5ae5;
}

.buttons {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.buttons:hover {
  background-color: #404bbf;
  color: #ffffff;
}

/* #E5E5E5 background first */
/* #F4F4FD background second */
