:root{
  --primecolor:#4d5ae5;
  --seccolor:#404bbf;
  --darkcolor:#2e2f42;
  --textcolor:#434455;
  --onlywhite:#ffffff;
  --accentcolor:#e7e9fc;
  --cloudcolor:#f4f4fd;
}
body {
  color: var(--darkcolor);
  font-family: 'Roboto', sans-serif;;
}
.top{
  background-color: var(--onlywhite);
}
.logotitle{
  font-family: 'Raleway';
  color: var(--darkcolor);
  font-size: 18px;
  line-height: 133%;
}
.logo{
  color: var(--primecolor);
}
.nav-text{
  font-family: Roboto;
  font-weight: 600;
  color: var(--textcolor);
  font-size: 16px;
  line-height: 150%;
}
.nav-text:visited{
  color: var(--textcolor);
}
.logo{
  color: var(--primecolor);
}
.list {
  list-style: none;
}

.adress {
  color: var(--textcolor);
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
}

.adress:hover {
  color: var(--seccolor);
}

.adress:focus {
  color: var(--primecolor);
}
.adress:active{
  color: var(--seccolor);
}
.adress .link:visited{
  color: var(--textcolor);
}
.title{
  font-size: 56px;
  line-height: 107%;
  color: var(--onlywhite);
}
.buttons {
  background-color: var(--primecolor);
  color: var(--onlywhite);
  cursor: pointer;
  font-size: 16px;

}
.buttons:hover {
  background-color: var(--seccolor);
  color: var(--onlywhite);
}

.text-h{
  font-size: 20px;
  line-height:120%;
}
.text-p{
  font-size: 16px;
  line-height: 150%;
}
.texthsec{
   font-size: 36px;
   line-height: 111%;
}
.secfirst{
  background-color: var(--darkcolor);
}
.secfourth{
  background-color: var(--cloudcolor);
}

.footer{
  color:var(--accentcolor);
  background-color: var(--darkcolor);
}
.footerlogo{
  color: var(--onlywhite);
}